+b.container
    +b.about 
        +e("h2").title About <br> 
        +e.description This project is a part of PRJCTR - Creative & Tech Online Institute course. But we always appreciate to get your feedback and add new features to DAILY-DO. <br> <br> You can open PRJCTR Course page below, or leave comment at Product Hunt page:
        +e.animation  
            <lottie-player src="https://assets8.lottiefiles.com/packages/lf20_q4400lb7.json"  background="transparent"  speed="1"  loop  autoplay></lottie-player>
        +e.logotype-box 
            +e("a").logo-link(href="https://prjctr.com")
                +e("img").logo-img(src="assets/prjctr-logo.svg")  
            +e("a").logo-link(href="https://www.producthunt.com/")
                 +e("img").logo-img(src="assets/product-hunt-logo.svg" href="terms.pug")